HEAD
streamlit
torch
torchvision
numpy
matplotlib
ultralytics
timm
opencv-python-headless
=======
streamlit
torch
torchvision
numpy
matplotlib
ultralytics
timm
opencv-python-headless
b3ebc2a (v2.0: major update with new structure and improvements)
